*{
    margin: 0;
}

@font-face {
    font-family: garet;
    src: url(fuentes/Garet-Book.ttf);
}

@font-face {
    font-family: dream;
    src: url(fuentes/Dream\ Orphans.otf);
}

h1{
    font-family: garet;
    letter-spacing: -0.06em;
    font-size: 2.7em;
    font-weight: 600;
}

main{
    margin-top: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/* HEADER */

header{
    display: flex;
    background-color: rgb(163, 17, 17);
    justify-content: center;
}

img{
    margin-bottom: -2.2em;
    mix-blend-mode: multiply;
}


/* NAV */

nav{
    width: 100%;
    display: flex;
    justify-content: left;
    margin-top: 2em;
}

nav a{
    font-family: garet;
    font-weight: bold;
    text-decoration: none;
    color: rgb(116, 14, 14);
    font-size: 1.8em;
    letter-spacing: -0.05em;
    margin-right: 0.8em;
}

/* ARTICLE */

article{
    width: 97%;
    margin-top: 2em;
}

/* FIGURE */

figure{
    border: solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

figure img{
    width: 50%;
}

figcaption{
    width: 48%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-family: garet;
}

figcaption h1{
    font-size: 2em;
    border-bottom: solid rgb(163, 17, 17);
    margin-bottom: 0.4em;
}

figcaption ul{
    margin-bottom: 1em;
}

figcaption p{
    text-align: justify;
}